<li id="messages-list">
  <div class="row">
    <div class="<%= user.id == message.user_id ? 'message-sent' : 'message-received' %>">
      <%= message.user.name %>: <br>
      <%= message.body %>
    </div>
  </div>
</li>
<br>
