<div class="has-text-centered">
  <h1 class="title">Please enter your verification code (from email)</h1>
  <%= form_tag :action => 'new' do %>
    <div class="field">
      <%= text_field :myform, :code, :class => 'input has-text-centered' %>
    </div>
    <%= submit_tag "Enter Verification Code", :class => 'button is-primary is-medium' %>
  <% end %>
  <br>
  <%= link_to 'Back', :back, :class => 'button is-info' %>
</div>