<div id="verification_top"><strong>Please enter your verification code</strong></div>

<div id="verification_mid">
  <div class="field">
<%= form_tag :action => 'new' do %>
  <%= text_field :myform, :code, :class => 'input', :id => "driver_field" %>
      <br><br>
  <%= submit_tag "Enter Verification Code", :class => 'button is-success'%>
<% end %>
    <div style="text-align: center; margin-top: 2%">
      <%= link_to 'Back', :back, :class => 'button is-primary' %>
    </div>
  </div>
</div>