<div class="has-text-centered">
  <h1 class="title">Account Information</h1>

  <p>
    <strong>Name:</strong>
    <%= current_user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= current_user.email %>
  </p>

  <br>

  <h1 class="subtitle is-marginless">You are signed up as:</h1>
  <% if Driver.exists?(user_id: current_user.id) %>
    <p>Driver</p>
  <% end %>

  <% if Homeowner.exists?(user_id: current_user.id) %>
    <p>Homeowner</p>
  <% end %>
  <br>
  <h1 class="title">Cancel Account</h1>

  <p class="subtitle">We're sorry to see you go.<br>Please use the contact mailer to provide any feedback.</p>
  <%= link_to " <i class='fas fa-ban'></i> &nbsp Cancel Account".html_safe, registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-danger" %>
  <%= link_to "Back", :back, class: "button is-info" %>

</div>
