<div class="has-text-centered">
  <h1 class="title">Cancel my account</h1>

  <p class="subtitle">We're sorry to see you go.<br>Please use the contact mailer to provide any feedback.</p>
  <%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-danger" %>
  <br>
  <%= link_to "Back", :back, class: "button is-info" %>

</div>
