<!--<div class="hero-foot is-small" id="footer">-->
<!--  <nav class="tabs is-centered">-->
<!--    <div class="container">-->
<!--      <div class="footer">-->
<!--        <ul>-->
<!--          <li class="is-active"><%#= link_to 'Contact Us', contact_path %></li>-->
<!--          <li><%#= link_to 'Login Page', root_path %></li>-->

<!--        </ul>-->


<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--</div>-->


<div id="footer">


  <%= link_to 'Contact Us', contact_path %>
  <%= link_to 'Login Page', root_path %>


</div>
