<div class="columns is-multiline is-mobile is-marginless has-text-centered" id="footer-bottom">


  <div class="column is-paddingless"><%= link_to 'Contact Us', contact_path, :id => "footer-button1" %></div>


  <div class="column is-paddingless"><%= link_to 'Privacy Policy', privacy_path, :id => "footer-button1" %></div>


</div>


