<div class="footer" id="footer-bottom">


  <%= link_to 'Contact Us', contact_path, :id => "footer-button1" %>

  <%= link_to 'Login Page', root_path, :id => "footer-button2" %>

  <%= link_to 'Privacy Policy', privacy_path, :id => "footer-button2" %>




</div>


