<div id="footer">


  <%= link_to 'Login Page', root_path, :class => "fas fa-sign-in-alt fa-lg", :id => 'footer-button' %>
  <%= link_to 'Contact us', contact_path, :class => "fas fa-file-signature fa-lg", :id => 'footer-button' %>

</div>
