<div class="footerstick" id="footer-bottom">
  <% unless user_signed_in? %>
    <%= link_to "Click Here To Sign Up", '/auth/google_oauth2', class: "button is-link is-fullwidth is-large" %>
  <% end %>

  <div class="columns is-multiline is-mobile is-marginless has-text-centered">


    <div class="column is-paddingless"><%= link_to 'Contact Us', contact_path, :id => "footer-button1" %></div>


    <div class="column is-paddingless"><%= link_to 'Privacy Policy', privacy_path, :id => "footer-button1" %></div>


  </div>

</div>



