<p>
  Dear PayPark,
  <% 2.times do %>
    <br>
  <% end %>

  User Information:
  <br>
  Name: <%= @name %> <br>
  Email: <%= @email %> <br>
  <% unless @telephone.empty? %>
    Phone Number: <%= @telephone %>
  <% end %>

  <% 2.times do %>
    <br>
  <% end %>

  Query: <br>
  <%= @message %>
</p>