<h3>Homeowners you have booked with</h3>

<ul id="conv-users-list">
  <% if !Driver.find_by_user_id(current_user.id).nil? %>
    <% @driver_conversations_with.each do |user| %>
      <li><%= link_to user.name, conversations_path(user_id: user), remote: true, method: :post %></li>
    <% end %>
  <% end %>
</ul>

<% if !Homeowner.find_by_user_id(current_user.id).nil? %>
  <%= render 'homeowner_conversations' %>
<% end %>

<ul id="conversations-list">
  <% @conversations.each do |conversation| %>
    <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
  <% end %>
</ul>

