<%= image_tag("login_background.jpg", :id => "surrey-background") %>
<h1 class="title has-text-centered">What we do</h1>
<p class="subtitle has-text-centered">Parking is easy, finding a space isn't.</p>
<p class="column-one-text has-text-black">
  PayPark is a parking platform that allows homeowners to rent out their driveways.
  Once a user signs up, they can register as both a homeowner or driver who either rents out their driveway at
  their own price or searches for parking spaces available at their specified time.
  We aim to make looking for parking spaces quicker and more efficient to suit the drivers' needs. Using our
  map, drivers can find available driveways at a suitable price for parking in their desired areas.
  The "Upcoming Events" feature available on the map, can also be used by the driver to plan their parking
  spaces ahead of their events, which are taken from their personal Google Calendar.
</p>
<br>
<h1 class="title has-text-centered">How it works</h1>

<div class="columns has-text-centered is-gapless">
  <div class="column">

    <h1 class="title is-paddingless">Drivers</h1>
    <div class="list is-size-4">

      <p class="list-item">1. Enter registration number</p>
      <p class="list-item">2. Search for parking</p>
      <p class="list-item">3. Pay & Park!</p>
    </div>
    <br>

  </div>

  <div class="column">

    <h1 class="title is-paddingless"> Homeowners</h1>
    <div class="list is-size-4">
      <p class="list-item">1. Enter address</p>
      <p class="list-item">2. Choose availability</p>
      <p class="list-item">3. Receive bookings</p>
    </div>
  </div>
</div>
