<%= image_tag("login_background.jpg", :id => "surrey-background") %>
<div class="has-text-centered">
  <h1 class="title">What we do</h1>
  <p class="subtitle">Parking is easy, finding a space isn't.</p>
  <p class="has-text-black has-text-justified intro-text">
    Our service aims to facilitate parking in areas where the traditional parking is either too expensive or limited in
    availability. You can register as a driver, a homeowner, or both! Drivers can browse our selection of available
    parking spaces, and can make reservations to suit their needs. Homeowners can register their driveway and, once
    verified, generate some passive income.
  </p>
  <br>
  <h2 class="subtitle">
    Sign up today and park stress-free.
  </h2>
  <br>
  <h1 class="title">How it works</h1>

  <div class="columns is-gapless">
    <div class="column">
      <h1 class="title is-paddingless">Drivers</h1>
      <div class="list is-size-4">

        <p class="list-item">1. Enter registration number</p>
        <p class="list-item">2. Search for parking</p>
        <p class="list-item">3. Pay & Park!</p>
      </div>
      <br>
    </div>

    <div class="column">
      <h1 class="title is-paddingless"> Homeowners</h1>
      <div class="list is-size-4">
        <p class="list-item">1. Enter address</p>
        <p class="list-item">2. Choose availability</p>
        <p class="list-item">3. Receive bookings</p>
      </div>
    </div>
  </div>
</div>