<div id="overall-container">
  <h1 class="title" style="margin-left: 40%;">New Withdrawal Request</h1>
  <br><br>
  <%= render 'form', withdrawal_request: @withdrawal_request %>

  <div style="text-align: center">
  </div>
</div>