<p>
  <%= "Dear  #{@homeowner.user.name}, "   %>

</p>
<p>
  <%= "To complete the homeowner application process, please verify your address using the activation code listed below." %>
</p>
<dl>

<p>
  <%= @homeowner.activation_code %>
</p>
<p>Thank you,</p>
<p>
  <%= "paypark" %>
</p>
