<div class="has-text-centered">
  <h1 class="title">Edit Driver</h1>

  <%= render 'form', driver: @driver %>

  <br>

  <div>
    <%= link_to 'Back', @driver, :class => 'button is-info' %>
  </div>
</div>

