<br><br><br>

<div id="driver_new_top" style="margin-bottom: 9%"><strong>Edit Driver</strong></div>

<%= render 'form', driver: @driver %>

<br>

<div id="driver_new_bot">
  <%= link_to 'Back', @driver, :class => 'button is-primary' %>
</div>
