<br><br><br>

<div id="driver_new_top" style="margin-bottom: 9%"><strong>New Driver</strong></div>

<div>
<%= render 'form', driver: @driver %>
</div>

<br>

<div id="driver_new_bot">
<%= link_to 'Back', signup_path, :class => 'button is-primary' %>
</div>