@import "colours";



#footer-bottom {
    position: fixed;
    bottom: 0;
    background-color: $navbar-colour;
    width: 100vw;
}


#footer-button1 {
  margin-left: 44%;
  margin-right: 3%;
  color: $link-colour;
  color: white;
}
#footer-button2 {
  color: $link-colour;
  font-family: Roboto;
  color: white;
}

#copyright {
  float: right;
  margin-right: 3%;
}