@import "colours";


#footer-bottom {
  position: fixed;
  bottom: 0;
  background-color: $navbar-colour;
  width: 100%;
}




#footer-button1 {
  color: $link-colour;
  font-family: Roboto;
  color: white;
  vertical-align: bottom;
}

