@import "colours";

#nb{
  background-color: $navbar-colour;
  //overflow: hidden;
  width: 100%;

  position: fixed;
  top: 0;


}

#nav-button{
  background-color: #b399cc;

  color: white;
}

.nav-message {
  color: white;
}
















