/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Bulma footer padding is huge; this is how you change it (MUST be before import)
$footer-padding: 0.25rem 0.5rem 1.5rem;

 @import "bulma";

$navbar-colour: #5B2A9D;
$background-colour: #FFFFFF;
$text-colour: #47525E;

.header {
    background-color: $navbar-colour;
}

.footer {
    position: fixed;
    background-color: $navbar-colour;
    bottom: 0;
    width: 100%;
    height: 1%;
}

h1 {
    color: $text-colour;
}

h2 {
    color: $text-colour;
}

h3 {
    color: $text-colour;
}
