/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 *= require toastr-responsive
 */


// Bulma footer padding is huge; this is how you change it (MUST be before import)
$link: #5B2A9D;
$footer-padding: 0.1rem 0.1rem 0.1rem !important;;
$footer-background-color: #5B2A9D;


$dropdown-content-arrow: white;
$navbar-background-color: #5b2a9d;
$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: #3f1a70;

$navbar-dropdown-border-top: 0px;
$navbar-dropdown-arrow: white;
$navbar-dropdown-background-color: #3f1a70;
$navbar-dropdown-item-hover-background-color: #8449bf;
$navbar-dropdown-item-hover-color: white;


@import "bulma";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "colours";



//html, body {
//  height: 100%;
//  width: 100%;
//  margin: 0;
//}

h1, h2, h3 {
  color: $text-colour;
  font-family: Roboto;
}

h4 {
  color: white;
}

p {
  color: $subtle-colour;
  font-family: Roboto;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid $navbar-colour;
  transition: 200ms;
}

.footerstick, .push {
  height: 83px;
}

#overall-container {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}