// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$navbar-colour: #5B2A9D;

.time_select_00 {
  display: inline;
  font-size: 15px;
}