// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  float: none;
}

.message-sent {
  color: #6020FF;
}

.message-received {
  color: #100880;
}

.panel-body {
  padding: 5px;
  overflow: auto;
}

#msg-button {
  float: right;
}

#conv-users-list {
  list-style: none;
  font-size: 15px;
}

#messages-list {
  list-style: none;
  padding-left: 2%;
}

