// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#driver_new_top{
  height:10%;
  width: 100%;
  color: #47525E;
  font-family: 'Roboto';
  text-align: center;
  font-size: xx-large;
}

#driver_new_mid{
  height:50%;
  margin-bottom: 7%;
  width: 100%;
  color: #47525E;
  font-family: 'Roboto';
  text-align: center;
  font-size: large;
}

#driver_show_mid{
  height:50%;
  margin-top: 14%;
  width: 100%;
  color: #47525E;
  font-family: 'Roboto';
  text-align: center;
  font-size: large;
}

#driver_new_bot{
  height:30%;
  width:100%;
  text-align: center;
}

#driver_field{
  width:30%;
}

#circle{
  border-radius: 50%;
  height: 65%;
  width: 31%;
  border: 7px solid #5B2A9D;
  margin-left: 34%;
  margin-top: 2%;
}