<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
      document.addEventListener("DOMContentLoaded", function(){
          initMap()
      });
  </script>
<% end %>

<h1>THE MAP</h1>

<h2>Upcoming Events:</h2>
<% @response.items.each do |event| %>
  <% start = event.start.date || event.start.date_time %>
  <ul><%= "#{event.summary} (#{start})" %></ul>
  <!--    <ul><%#= event.summary + " Start:" + Time.parse(event.startTime.to_s).strftime('%F %T %z')%></ul>-->
<% end %>

<% if user_signed_in? %>
  <p>USER INFO:</p>
  <%= current_user.name %>
  <%= current_user.email %>
  <%= link_to t('logout'), destroy_user_session_path, method: 'delete' %>
<% else %>
  <p>NO ONE IS SIGNED IN</p>
<% end %>

<p>
<div class ="field"> <input id="pac-input" class="controls" type="text" placeholder="Search address and drag to driveway"> </div>
</p>

<p>
<div id="map"></div>
</p>

<div id="localsList"><ul></ul></div>