<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
      document.addEventListener("DOMContentLoaded", function () {
          initMap()
      });
  </script>
<% end %>
<div id="overall-container">


  <div class="box1 stack-top" id="search-bar">
    <p class="home-text">Please enter an address</p>

    <div class="field">
    <div  class="control has-icons-left">
      <input id="pac-input" id="address-search"  class="input is-medium" type="text" placeholder="Search address and drag to driveway">
      <span class="icon is-small is-left">
      <i class="fas fa-search-location"></i>
    </span>
    </div>

  </div>
  </div>


  <div id="map" class="box1" id="map-holder"></div>

</div>