<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
      document.addEventListener("DOMContentLoaded", function(){
          initMap()
      });
  </script>
<% end %>

<h1>THE MAP</h1>
<p>Levon will map</p>
<% if user_signed_in? %>
  <p>USER INFO:</p>
  <%= current_user.name %>
  <%= current_user.email %>
  <%= link_to t('logout'), destroy_user_session_path, method: 'delete' %>
<% else %>
  <p>NO ONE IS SIGNED IN</p>
<% end %>

<p>
<div id="map"></div>
</p>